*{
    margin: 0;
    padding:0;
}

html{
    background-color: #B8ACAD;
}

#main{
    width: 1000px;
    background-color:white;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding-bottom: -15px;
    /*work on padding*/
}

#nav{
    width: 1000px;
    background-color:white;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;

}

li {
    list-style-type: none;
    color: #bf757a;
    list-style: none;
    
    
}

nav{
    width: 100%;
    height: 50px;

}

h1{
    font-family: engravers mt;
    color: #bf757a;
    text-align: center;
    font-size: 100px;
}
h3{
    color: #bf757a;
    text-align: center;
    font-family: engravers mt;
}

h2{
  color: #bf757a;
  text-align: center;
  font-family: engravers mt;
  font-size: 50px;
  padding: 10px;
  
}

ul li{
    display:inline-block;
    line-height: 50px;
    padding:0 35px;
    list-style: none;
    
}

ul li a{
    text-decoration: none;
    color: #bf757a;
    font-family: engravers mt;
}

a:hover{
    background-color:#F0E2E2;
}

#clothes{
    width: 1000px;
    background-color:white;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    border-radius: 10px;

}

#bags{
  width: 1000px;
  background-color:white;
  margin: 0 auto;
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}

#one{
  margin-left: 10px;
  border-radius: 5px;
}

#two{
  margin-left:105px;
  border-radius: 5px;

}

#four{
  margin-left: 155px;
  border-radius: 5px;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#foot{
    width: 1000px;
    background-color:white;
    margin: 0 auto;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    color: #33453A;
    border-radius: 10px;
    text-align: center;

}

/*space for slideshow*/

* {
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:#bf757a;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
 /* .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #33453A;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color:transparent;
    padding: 2px 16px;
    color: grey;
    font-size: 30px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }




/*end slideshow*/



 








