/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*My code*/



/*Mobile*/

*{
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color:#9c6b6b;
}

header{
    background-color:hsl(0, 43%, 73%);
    width: 100%;
    height: 100px;
}

header .header-brand{
    width:165px;
    height: 55px;
    display: block;
    padding:2px 0;
    margin: 0 auto;
}

header nav ul{
    display:block;
    margin:0 auto;
    padding-top:-9px;
    width:fit-content;


}
/*Sub menu hover*/
nav ul li{
    float: left;
    list-style: none;
    position: relative;
    z-index: 10;
    
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: hsl(0, 43%, 73%);
    padding: 5px;

}

nav ul li:hover ul{
    display: block;
    

}

nav ul li ul{
    border-radius:0px 0px 4px 4px ;
}

nav ul li ul li a:hover{
    background-color: rgba(219, 121, 121, 0.678);
   

}
/*End sub menu hover*/



header nav ul li{
    display: block;
    float:left;
    list-style: none;
    padding:0 9px;
    padding-top: 20px;
}

header nav ul li a{
    font-family: Cinzel;
    font-size:16px;
    color:white;
}


#find{
    font-family: Cinzel;
    font-size:16px;
    line-height: 30px;
    color:rgb(253, 250, 250);
    text-align: center;

}



.photo{
    width: 100%;
    margin-left: 20px;
    margin-right: 5px;  
    border: 2px solid white;
}

#foot{
    display: block;
    width: 100%;
    height: 50px;
    background-color: white;
    clear: both;
    bottom: 0;
    text-align: center;
    clear: both;
    margin-top: 10px;
}

.season{
    text-shadow: 2px 2px 8px rgb(38, 39, 38);
    font-family: Cinzel;
    font-size: 16px;
    writing-mode:sideways-rl;
    margin-left: 5px;
    background-color:#cc8f8fa2;
    
}

#cart{
    width: 14px;
    height: 14px;
    margin-bottom: 15px;
    padding-top:1px;
}

#menu_2{
    position:absolute;
    margin-top:-15px;
    padding-left: 300px;
    
}

.season{
    text-shadow: 2px 2px 8px rgb(38, 39, 38);
    font-family: Josefin Slab;
    font-size: 15px;
    writing-mode:sideways-rl;
    margin-left: 5px;
    background-color:#cc8f8fa2;
    font-weight: 800;
    
}






/*DESKTOP*/

@media only screen and (min-width:1000px){

    header{
        background-color:hsl(0, 43%, 73%);
        width: 100%;
        height: 150px;
    }
    
    /*header .header-brand{
        width: 150px;
        height: 130px;
        display: block;
        padding:2px 0;
        margin: 0 auto;
    }
*/

    #find{
        
        font-size: 20px;
        line-height: 30px;
        color: white;
        text-align: center;
    }

    .photo{
        width: 300px;
        height: 400px;
    }

    
    
    img.photo{
    
        margin-left: 2px;
        margin-right: 5px;  
        border: 2px solid white;
    }

    img.photo{
        width: 300px;
        height: 450px;
    }

    
    div.column{
        float: left;
        width: 33.33%;
        padding: 15px;
   
}

.season{
    text-shadow: 2px 2px 8px rgb(38, 39, 38);
    font-family: Josefin Slab;
    font-size: 30px;
    writing-mode:sideways-rl;
    margin-left: 5px;
    background-color:#cc8f8fa2;
    font-weight: 800;
    
}

header nav ul li{
    display: block;
    float:left;
    list-style: none;
    padding:0 25px;
    padding-top: 15px;
    
    

}

header .header-brand{
    width:400px;
    height: 100px;
    display: block;
    padding:2px 0;
    margin: 0 auto;
}

header nav ul li a{
    font-family: Cinzel;
    font-size:30px;
    color:white;
    
}

#cart{
    width: 2rem;
    height: 2rem;
    margin-bottom: 15px;
    padding-top:5px;
}

#menu_2{
    position:absolute;
    margin-bottom:20px;
    padding-left: 1000px;
    
}





   
    



    
}

/*DESKTOP*/


/*MOBILE*/



.index-bannerm{
    width:100%;
    height: 65px;
    background-color: #bd7878ef;


}





.column{
    float: left;
    width: 50%;
    padding: 5px;
   
}

.row::after{
    content: "";
    display: table;
    clear: both;
}


.photo{
    width: 150px;
    height: 225px;
}





.container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/*span season*/
span{
    color:white;
    font-weight: 900;
    font-stretch: 12px;
}


#code{
    font-family: Cinzel;
    font-size:16px;
    text-align: center;
    color:white;

}







/*.index-boxlink-1m{
    margin:10px;
    
    width: 180px;
    height: 220px;
    
}

.index-boxlink-2m{
    
    margin:10px;
    width: 180px;
    height: 220px;
  
}

.index-boxlink-3m{
    
    margin:10px;
    width: 180px;
    height: 110px;
   
}

.index-boxlink-4m{
    
    margin:10px;
    width:180px;
    height: 110px;
   
}
*/


















